<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Lovacitta Naturals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <% unless notice.nil? %>
      <p class="notice alert alert-warning"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
